.ContainerForItens{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}

.ContainerForActions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.TitleRecent, .TitleRecentItens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.TitlesOverItens, .OverItens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}




